@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html {
	background: url('/risky/static/background.jpg') no-repeat center center / cover;
}

@theme {
	--font-sans: 'Montserrat', sans-serif;
}
